.form-input {
  @apply appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;
}
.form-input:focus {
  @apply outline-none shadow-outline;
}
.btn {
  @apply py-2 px-4 rounded bg-grey-light;
}
.btn:hover {
  @apply bg-grey;
}
.btn:focus {
  @apply outline-none shadow-outline;
}
.btn-primary {
  @apply bg-blue text-white;
}
.btn-primary:hover {
  @apply bg-blue-dark;
}
.form-helper-block {
  @apply text-xs italic;
}
.form-helper-block.block-error {
  @apply text-red;
}